<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Início</title>
</head>

<body>
<header>
  <%= render "menu" %>
</header>

<h1> Página de Início </h1>

<h4> Teste </h4>


</body>
</html>